<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerse</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header>
<ul class="index"><div class="Div_search">
    <input type="text" id="searchInput" placeholder="Buscar productos" />
    </div>
<a href="http://localhost:8080/">Home</a>
<a href="http://localhost:8080/realtimeproducts"> Real Time Products</a>
<a href="http://localhost:8080/login">Login</a>
<a href="http://localhost:8080/register">Register</a>
</ul>
    </header>
{{{body}}}
<footer>

</footer>
<script src="js/main.js"></script>
</body>

</html>